<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/dashboard">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Sign Out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/updateAccount">Update Email</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: tomato;" href="/dashboard/deleteAccount">Delete Account</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<h1 class="mt-4" style="color: goldenrod;">Dashboard</h1>
<p class="lead mb-3">Welcome to your personal dashboard, <%- userInfo.fname %>! </p>
<br>
<p class="lead mb-3" style="color: goldenrod;">Current price of bitcoin:<span style="color: greenyellow;"> <%- btcp %> </span> </p>
<canvas id="bar-chart-horizontal" width="700" height="300"></canvas>
<script>
    new Chart(document.getElementById("bar-chart-horizontal"), {
    type: 'horizontalBar',
    data: {
      labels: ["Bitcoin", "Ethereum", "Solana", "Cardano", "Ripple"],
      datasets: [
        {
          label: "Market Capitalization ($usd)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [`<%- btcm %>`,`<%- ethm %>`,`<%- solm %>`,`<%- adam %>`,`<%- xrpm %>`]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Top Cryptocurrency Market Capitalizations'
      }
    }
});
</script>
<br>
<br>


